[user]
	name = hskwakr
	email = 33633391+hskwakr@users.noreply.github.com
[credential]
	helper = /mnt/e/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
[core]
	excludesfile = ~/wsl-dotfiles/doc/git/ignore
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
